 # Data statistics

In [1]:
import pandas as pd

df = pd.read_csv("results_raw_20210426_lan_yamnet_android.csv",sep = ';')
df = df.drop(['Date','Folder Name','Symptoms','Covid-Tested','Hospitalized',
              'Location','Voice filename','Cough filename','Breath filename','Voice check','Cough check','Breath check'],axis=1)
df_android = df.drop_duplicates()

df = pd.read_csv("results_raw_20210426_lan_yamnet_ios.csv",sep = ';')
df = df.drop(['Date','Folder Name','Symptoms','Covid-Tested','Hospitalized',
              'Location','Voice filename','Cough filename','Breath filename','Voice check','Cough check','Breath check'],axis=1)
df_ios = df.drop_duplicates()

df = pd.read_csv("results_raw_20210426_lan_yamnet_web.csv",sep = ';')
df = df.drop(['Uid','Folder Name','Symptoms','Covid-Tested','Hospitalized',
              'Location','Voice filename','Cough filename','Breath filename','Voice check','Cough check','Breath check'],axis=1)
df_web = df.drop_duplicates()
df_web = df_web.rename(columns={'Date':'Uid'})

In [2]:
df_ios.shape[0] + df_android.shape[0] + df_web.shape[0]

36119

In [3]:
df = pd.concat([df_ios, df_android, df_web],axis=0,ignore_index=True)

In [4]:
df

                              Uid    Age     Sex  Medhistory Smoking Language
0                    005G62h2Muip  20-29  Female        None  ltOnce       it
1                    00CwMwLaxlh6  40-49    Male         hbp   never       it
2                    00ELrVjrzo6L  20-29    Male        None   never       en
3                    00nJAQ2uNrUW  20-29    Male        None     21+       en
4                    00PM5iIqU9ML  60-69    Male        None      ex       en
...                           ...    ...     ...         ...     ...      ...
36114  2021-04-21-10_51_50_678729  20-29    Male        None   never     None
36115  2021-04-22-17_53_59_491941  40-49    Male  otherHeart      ex     None
36116  2021-04-22-20_07_08_880185  20-29    Male        None      ex       it
36117  2021-04-23-15_31_41_620201  50-59  Female         hbp   never     None
36118  2021-04-24-23_28_34_777286  40-49    Male         hbp   never     None

[36119 rows x 6 columns]

In [5]:
from  collections import Counter
Counter(df['Smoking'])

Counter({'ltOnce': 1245,
         'never': 19778,
         '21+': 407,
         'ex': 6382,
         '1to10': 3995,
         '11to20': 3072,
         'ecig': 468,
         'ptns': 165,
         nan: 21,
         'pnts': 586})

In [6]:
Counter(df['Language'])

Counter({'it': 7811,
         'en': 16184,
         'de': 1177,
         'pt': 1605,
         'es': 1918,
         'ru': 740,
         'el': 557,
         'fr': 688,
         'ro': 76,
         'zh': 23,
         'hi': 2,
         'None': 5338})

In [7]:
df_asthma = df[df['Medhistory'].str.contains('asthma')]
df_asthma

,Uid,Age,Sex,Medhistory,Smoking,Language
22,049IBTUo8ygF,16-19,Other,"asthma,copd",never,en
34,07EtguLyUcPh,20-29,Female,asthma,never,en
45,0B4uKgnhYNc0,30-39,Male,asthma,ex,it
58,0BvtQa7Jy8VR,40-49,Male,"asthma,cystic,copd,pulmonary,lung,hbp,angina,s...",1to10,en
67,0ctHli4Kpz3B,20-29,Female,asthma,ltOnce,it
...,...,...,...,...,...,...
36043,2021-03-10-02_21_48_296609,50-59,Female,"asthma,hbp,longterm",never,None
36044,2021-03-10-05_57_58_063480,50-59,Male,"asthma,hbp",ex,None
36060,2021-03-12-07_41_18_158157,50-59,Male,asthma,never,None
36065,2021-03-14-09_46_44_035574,20-29,Male,asthma,ex,None
36097,2021-04-07-08_48_10_059149,40-49,Male,asthma,never,None

In [8]:
df_copd = df[df['Medhistory'].str.contains('copd')]
df_copd.shape

(297, 6)

In [9]:
df_long = df[df['Medhistory'].str.contains('longterm')]
df_long.shape

(979, 6)

In [10]:
df_pu = df[df['Medhistory'].str.contains('lung')]
df_pu.shape

(322, 6)

In [11]:
import pandas as pd
df = pd.read_csv("results_raw_20210426_lan_yamnet_android.csv",sep = ';')
df = df.drop(['Location'],axis=1)
df.to_csv("results_raw_20210426_lan_yamnet_android_noloc.csv",sep = ';')

df = pd.read_csv("results_raw_20210426_lan_yamnet_ios.csv",sep = ';')
df = df.drop(['Location'],axis=1)
df.to_csv("results_raw_20210426_lan_yamnet_ios_noloc.csv",sep = ';')

df = pd.read_csv("results_raw_20210426_lan_yamnet_web.csv",sep = ';')
df = df.drop(['Location'],axis=1)
df.to_csv("results_raw_20210426_lan_yamnet_web_noloc.csv",sep = ';')